*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
main{
    width: 100vw;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}